<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace | List of Customers</title>
</head>
<body>
    <h1>Hello {{ username }}</h1>

    <p>Here is the list of your customers:</p>

    {% for customers in list_of_customers %}
        <li> {{ customers.customerName }} in {{ customers.city}}, {{ customers.country }} has a credit limit of {{ customers.creditLimit }} </li>
    {% endfor %}

</body>
</html>